.container {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid tan;
  padding: 15px;
  border: 1px solid rgb(24, 165, 118);
  background-color: bisque;
}

.title {
  color: rgb(139, 126, 135);
}

.title__statistics {
  color: rgb(49, 53, 53);
}
